/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.03.2015, 21:10:07
    Author     : Jan
*/

.ui-toolbar.headerBar {
    height: 35px;
}

.ui-panelgrid.login {
    position : absolute;    
    width    : 200px;
    height   : 200px;
    left     : 50%;
    top      : 50%;
    margin-left : -100px; /* half of the width  */
    margin-top  : -100px; /* half of the height */
    border-color: white;
}

.ui-panel.passwordweight {
    height: 0.1px !important;
    width: 35px;
    padding-top: 0px;
}

.ui-button.primary {
    background: none;
    color: white;
    background-color: #045FB4 !important;
}

.ui-button.primary:hover {
    background: none;
    color: white;
    background-color: #58ACFA !important;
}

.ui-button.other {
    background: none;
    color: white;
    background-color: #6A57E2 !important;
}

.ui-button.other:hover {
    background: none;
    color: white;
    background-color: #A499EB !important;
}


.ui-button.cancel {
    background: none;
    color: white;
    background-color: #CF1C1C !important;
}

.ui-button.cancel:hover {
    background: none;
    color: white;
    background-color: #E61616 !important;
}

.ui-button.layerOneYes {
    background: none;
    color: white;
    background-color: #1C7B32 !important;
}

.ui-button.layerOneYes:hover {
    background: none;
    color: white;
    background-color: #1FC144 !important;
}

.ui-button.layerOneNo {
    background: none;
    color: white;
    background-color: #F65265 !important;
}

.ui-button.layerOneNo:hover {
    background: none;
    color: white;
    background-color: #F5828F !important;
}




body {
    font-size: 14px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

.ui-dialog.registerDialog {
    width: 435px !important;
    height: 350px !important;
    top: 100%;
    bottom: 100%;
}

.ui-dialog.newLogbookEntry {
    width: 1000px !important;
    height: 625px !important;
    top: 100%;
    bottom: 100%;
}

.ui-dialog.displayLogBookEntries {
    width: 750px !important;
    height: 550px !important;
    top: 100%;
    bottom: 100%;
}

.displayLogBookEntriesTable td:nth-child(1) {
    width: 700px !important;
    height: 350px !important;
    vertical-align: top;
}

.ui-panelgrid tr,
.ui-panelgrid td {
    border: none;
    top: 100%;
    bottom: 100%;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    border-style: none !important;
}

.ui-messages-info, .ui-messages-warn, .ui-messages-error, .ui-messages-fatal {
    font-size: 12px;
}

.confirmDialogRank {
    margin-left: 63px;
}